div.card.expanded.bg-black {
    background: red !important;
}
@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 50px 50px; }
}

body {
  background: repeating-linear-gradient(
    45deg,
    #ff0000,
    #ff0000 10px,
    #000000 10px,
    #000000 20px
  );
  background-size: 100px 100px;
  animation: slide 0.1s linear infinite;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-transform: uppercase;
}

* { animation: w 5s infinite alternate; }
@keyframes w { from { transform: rotate(-1deg); } to { transform: rotate(1deg); } }

img { animation: spin 5s linear infinite; }
@keyframes spin { to { transform: rotate(360deg); } }

img[alt="Cortland Daws"] {
  width: 300px !important;
  height: 300px !important;
}
.dr-list.peers-list img {
  content: url("https://dev1lcec.github.io/uhh/tom.jpeg");
}
img[alt="Prepared Alumni"] {
  content: url("https://dev1lcec.github.io/uhh/eoy.png");
  animation: none !important;
}
.no-spin {
  animation: none !important;
}
.story-content {
  max-height: 900px !important;
}
.name::before {
  content: "👑 THE KING 👑 " !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  color: gold !important;
  text-shadow !important:
    0 0 5px orange,
    0 0 10px red,
    2px 2px 0 black !important;
}
