div.card.expanded.bg-black {
    background: red !important;
}
@keyframes rotate {
  from { transform: rotate(0deg) scale(2); }
  to { transform: rotate(360deg) scale(2); }
}

body {
  margin: 0;
  overflow: hidden;
  background: conic-gradient(from 0deg, #000, #fff, #000, #fff, #000);
  height: 100vh;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-transform: uppercase;
}

body::before {
  content: "";
  position: absolute;
  top: -50%; left: -50%; width: 200%; height: 200%;
  background: inherit;
  animation: rotate 1s linear infinite;
}

* { animation: w 5s infinite alternate; }
@keyframes w { from { transform: rotate(-1deg); } to { transform: rotate(1deg); } }

img { animation: spin 5s linear infinite; }
@keyframes spin { to { transform: rotate(360deg); } }

img[alt="Cortland Daws"] {
  width: 300px !important;
  height: 300px !important;
}
.dr-list.peers-list img {
  content: url("https://dev1lcec.github.io/uhh/tom.jpeg");
}
img[alt="Prepared Alumni"] {
  content: url("https://dev1lcec.github.io/uhh/eoy.png");
  animation: none !important;
}
.no-spin {
  animation: none !important;
}
.story-content {
  max-height: 900px !important;
}
.name::before {
  content: "👑 THE KING 👑 " !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  color: gold !important;
  text-shadow !important:
    0 0 5px orange,
    0 0 10px red,
    2px 2px 0 black !important;
}
